<router-outlet></router-outlet>
<!--<div>
  <p>1 组件基础</p><app-demo001-component></app-demo001-component>
  <p>2 模块基础</p><app-demo-module-basic></app-demo-module-basic>
  <p>3 模板</p><app-demo003-template></app-demo003-template>
  <p>4 指令</p><app-demo004-directive></app-demo004-directive>
  <p>5 管道</p><app-demo005-pipe></app-demo005-pipe>
  <p>6 服务</p><app-demo006-service></app-demo006-service>
  <p>7 路由</p><app-demo007-route></app-demo007-route>
  <p>8 paletx</p><app-demo008-paletx></app-demo008-paletx>
  <p>9 英雄编辑器</p><app-demo009-heros></app-demo009-heros>
  <p>10 任务管理</p><app-demo010-task></app-demo010-task>
</div>-->

